body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Lato';
  font-weight: bold;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

table {
  margin: 0 auto;
}

th {
  font-size: 1.2em;
  text-align: left;
}

td {
  padding: 10px 0;
}

td:nth-child(1) {
  width: 200px;
}

td:nth-child(2) {
  width: 200px;
}

td:nth-child(3) {
  font-size: 0.8em;
  width: 600px;
}

.infinity-loader {
  text-align: center;
  margin: 20px 0;
}
